<a href="https://wa.me/5491166658100?text=Hola%21%20Tengo%20dudas%20sobre%20Circu" target="_blank" rel="noopener noreferrer"
   style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
  <img src="<%= asset_path('WhatsApp.png') %>" alt="WhatsApp" style="height: 60px; width: 60px;">
</a>
